image: python:3.10

stages:
  - lint
  - test

before_script:
  - pip install poetry==1.1.11
  - poetry config virtualenvs.create false
  - poetry install

lint:
  stage: lint
  script:
    - black . --check --diff

pytest:
  stage: test
  script:
    - pip install pytest pytest-cov
    - coverage run -m pytest
    - coverage report
    - coverage xml
  coverage: '/TOTAL.*\s([.\d]+)%/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml